.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun var(--duration) linear infinite;
  animation-delay: calc(
    (var(--duration) / var(--quantity)) * (var(--position) - 2) -
      var(--duration)
  );
}

.project {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider:hover .item,
.slider:focus .item {
  animation-play-state: paused;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

@media (prefers-reduced-motion) {
  .sliderRTL .item,
  .sliderLTR .item {
    animation-play-state: paused;
  }
}

.item {
  list-style-type: none;
}

@media (max-width: 700px) {
  .item {
    width: calc(var(--width) / 1.5);
    height: calc(var(--width) / 1.5);
  }
}
