@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gap: 1rem;
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

body {
  font-family: "Host Grotesk", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 7vw;
  font-weight: 800;
  line-height: 1;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  color: #e3e3db;
  overflow: hidden;
}

.hero {
  flex-direction: column;
  transition: background-color 0.3s ease;
}

.hero-header {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  will-change: transform, opacity;
}

.animated-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  will-change: transform;
  z-index: 2;
}

.animated-icon {
  flex: 1;
  aspect-ratio: 1;
  will-change: transform;
}

.animated-text {
  position: relative;
  max-width: 1000px;
  text-align: center;
  color: #141414;
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 800;
  line-height: 1;
}

.text-segment {
  opacity: 0;
}

.placeholder-icon {
  margin-top: -10px;
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  will-change: transform;
  visibility: hidden;
}

.slider {
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.wrapper {
  margin-top: 30rem;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
  margin-top: 2rem;
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

.marquee svg {
  display: grid;
  place-items: center;
  width: clamp(5rem, 1rem + 20vmin, 10rem);
  fill: #e3e3db;
  background: #252525;
  aspect-ratio: 16/9;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.marquee:hover .marquee__group {
  animation-play-state: paused;
}

.marquee svg:hover {
  transform: translateY(1px) scale(1.01);
  background: #333;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.icon-html:hover {
  fill: #e34f26;
}
.icon-css:hover {
  fill: #1572b6;
}
.icon-aws:hover {
  fill: #ff9900;
}
.icon-java:hover {
  fill: #5382a1;
}
.icon-angular:hover {
  fill: #dd0031;
}
.icon-js:hover {
  fill: #f7df1e;
}
.icon-git:hover {
  fill: #f05032;
}
.icon-python:hover {
  fill: #3776ab;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 12vw;
    text-align: center;
  }
  p {
    font-size: 1.1rem;
  }
  .hero-header {
    top: 45%;
    width: 100%;
  }
  .placeholder-icon {
    margin-top: -4px;
    width: 30px;
    height: 30px;
  }
}

.technologies-section,
.projects-section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.technologies-section {
  z-index: 1;
  background-color: #141414;
}

.projects-section {
  z-index: 2;
  background-color: transparent;
}

.projects-section .bg {
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(50, 50, 50, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.5rem;
  z-index: 1;
}

.outer,
.inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
