@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";

.container-animeText {
  justify-content: center;
  display: flex;
  margin-top: 150px;
}

.text-animeSobre {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}

.dud {
  color: #757575;
}

@media (max-width: 650px) {
  .container-animeText {
    margin-top: 80px;
    margin-bottom: 25px;
  }
}
